<div class="row">
  <div class="col-md-12">

    <h2> Order Details </h2>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th width="80%">Product</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>

        <% @product_lists.each do |product_list| %>
          <tr>
            <td>
              <%= product_list.product_name %>
            </td>
            <td>
              <%= product_list.product_price %>
            </td>
          </tr>
        <% end %>

      </tbody>
    </table>

    <div class="total clearfix">
      <span class="pull-right">
        Total amount SG$ <%= @order.total %>
      </span>
    </div>

     <hr>

     <h2> Contact Details </h2>

     <table class="table table-striped table-bordered">
      <tbody>
        <tr>
          <td>
            Ordered by
          </td>
        </tr>
        <tr>
          <td>
            <%= @order.billing_name %> - <%= @order.billing_address %>
          </td>
        </tr>
        <tr>
          <td>
            Adressee
          </td>
        </tr>
        <tr>
          <td>
            <%= @order.shipping_name %> - <%= @order.shipping_address %>
          </td>
        </tr>
      </tbody>
    </table>
    <% if !@order.is_paid? %>
      <div class="group pull_right">
        <%= link_to('Pay with alipay', pay_with_alipay_order_path(@order.token), :method => :post, :class => 'btn btn-danger')%>
        <%= link_to('Pay with wechat', pay_with_wechat_order_path(@order.token), :method => :post, :class => 'btn btn-danger')%>
      </div>
    <% else %>
      <p class='text-center'>The order was paid.</p>
    <% end %>
  </div>
    
</div>
